html {
  font-family: 'Open Sans', 'helvetica', sans-serif;
  background: white;
  font-size: 14px;
}

/* Titles */
/*h1 { text-transform: uppercase }*/
h1, h2 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}


.title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
  line-height: 1;
  font-weight: 600;
}

.latest {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail {
  font-size: 2em;
  line-height: 1.2em;
}

.entry-content {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: justify;
  color: #333;
}

.entry-content h2 {
  margin: 1.5em 0;
}

article section .about {
  font-size: 1.3em;
  color: #444;
  text-align: justify;
}

article section .blog-post {
  font-size: 1em;
}

/* Body */
body {margin: 0}
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 700px;
  margin: 40px auto auto 355px;
  padding: 20px 80px 10px;
}

footer {
  color: #999;
}

article ol.posts {
  padding-left: 0;
}

/* Articles */
p.post_entry {
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.article_left > h1 {
  font-size: 1.4em;
}
.article_right {
  background-color: white;
}
.post_list {
  color: #999;
  list-style-type: none;
  padding: 10px 0;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.entry-social {
  margin-top: 5px;
}
.entry-social>span.icon {
  display: inline-block;
  max-width: 20px;
  margin: 0 0 0 5px;
  vertical-align: top;
}


/* Links */;
a  { color:#1DAEDF; text-decoration:none; }
a:visited { color:#1DAEDF; text-decoration:none; }
a:link { color:#1DAEDF; text-decoration:none; }
a:active { color:#1DAEDF; text-decoration:none; }
a:hover { text-decoration: underline; }

/* Code */
.highlight pre {
  font-size: 85%;
  overflow: auto;
  padding: 8px;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

/* Sidebar */
aside {
  font-size: 1em;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;
  background-color: #2980b9;
  color: white;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 8%;
  background-size: cover;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}
aside > h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 5px;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.headerlink {
  display: none;
}

h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  display: inline-block
}

#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.social {
  display: inline-block;
  margin-top: 40px;
}

.nav {
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #328cc7;
  margin-top: 40px;
}

.nav > ul > li {
  font-size: 1.1em;
}

.nav a {
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.nav a:hover {
  background-color: #328cc7;
}

.list-bare {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: block;
  padding: 0.77273rem 0;
  border-bottom: 1px solid #328cc7;
}

.nav li:last-of-type .nav__link {
  border-bottom: 0;
}

.blog_roll_link {
  display: block;
  padding: 0.33147rem 0;
  border-bottom: 3px solid #328cc7;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 0.5px solid #ddd;padding: 4px 12px;
}

blockquote {
  border-left: 2px solid #eee;
  padding-left: 1em;
  margin-left: 1em;
}

/*--------Responsive------------*/

@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 0 0px;
  }

  .nav {
    margin: -8px 0 0;
  }

  .list-bare {
    display: flex;
  }

  .list-bare li {
    flex: auto;
  }

  .social {
    display: flex;
    margin: 4px 0;
    justify-content: center;
  }

  .social>a {
    flex: 60px 0;
  }

  .nav__link {
    border-bottom: 0;
  }

  body > article {
    margin: 0 auto;
    padding: 1em 1.5em;
  }

  .title, .post_title{
    margin: 1em 0;
  }

  .entry-content {
    margin-top: 2.5em;
  }

  footer {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}
